@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Science+Gothic:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #2a1b6b, #5c44a2);
    position: relative;
}

.formulario {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 16px;
    padding: 35px;
}

.formulario h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.caixa-formulario {
    position: relative;
    margin-bottom: 20px;
}

.caixa-formulario input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    padding: 0 20px;
}

.caixa-formulario input::placeholder {
    color: white;
}

.caixa-formulario i {
    position: absolute;
    right: 30px;
    font-size: 25px;
    top: 12px;
}

.caixa-lembrar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 16px;
}

.caixa-lembrar label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.caixa-lembrar label input {
    accent-color: rgb(127, 12, 215); /* corrigido */
}

.caixa-lembrar a {
    text-decoration: none;
    color: white;
}

.caixa-lembrar a:hover {
    text-decoration: underline; /* corrigido */
}

button {
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #2a1b6b;
    font-weight: 600;
    transition: all 0.3s;
}

button:hover {
    background-color: #fff;
    transform: translateY(-5px); /* ; adicionado */
}

.link-registro {
    text-align: center;
    margin-top: 25px;
    font-size: 16px;
}

.link-registro p {
    color: white;
}

.link-registro a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.link-registro a:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 14px;
}
